@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    width: calc(100%);
    padding-top: 100px;
    padding: 10px;
    text-decoration: none;
}

th {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    border-bottom: solid 1px black;
    text-transform: uppercase;
    padding: 10px;
    margin: 10px;
}

tr:not(:nth-child(0)):hover td {
    background-color: #e5e5e5;
}

tr,
td {
    padding: 10px;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    border-bottom: solid 1px #ddd;
    box-shadow: 19px 27px 82px -47px rgba(0, 0, 0, 1);
}

.viewButton {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
    color: #e5e5e5;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    border: solid 1px #000000;
    background-color: #14213d;
}

.viewButton:hover {
    background-color: #fca311;
    color: #000000;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.6); 

}


form {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding: 10px;
}

label {
    color: #333;
}

select,
input[type="checkbox"] {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    border: none;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
    color: #e5e5e5;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    border: solid 1px #000000;
    background-color: #14213d;
}

#coordinatesContainer {
    max-height: 150px;
    overflow-y: auto;
}

.formCoords {
    display: none; /* Hide the form */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    position: absolute;
    min-height: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 10px;
    border: solid 1px #272727;
    padding: 20px;
    width: calc(40%);
}

.input-field label {
    font-size: 15px;
}

.input-field input[type="text"] {
    padding: 10px;
    width: 100%;
}

.input-field input {
    width: 100%;
    border-radius: 5px;
    padding: 3px;
    border: solid 1px #000000;
    outline: none;
}

.input-field button {
    margin-top: 5px;
}

.buttons{
    display: flex;
    padding: 30px;
    transform: translate(80%, 20%);
    
}

.submitButton{
    justify-content: space-between;
}

.submitButton:hover{
    background-color: #fca311;
    color: #000000;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.6); 
}
.closeButton{
    background-color: #444444;
    border: none;
    color: #fff;
}
.closeButton:hover{
    background-color: #ffffff;
    color:black;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.6); 
}